#contHR table tbody {
  position: absolute;
  width: 100%;
  top: 42%;
  left: 13%;
  font-weight: bold; }
  #contHR table tbody .item {
    width: 6%; }
  #contHR table tbody .direccion_predial {
    width: 34%; }
  #contHR table tbody .fecha_adquisicion {
    width: 10%; }
  #contHR table tbody .valor_predio {
    width: 10%; }
  #contHR table tbody .porc_propiedad {
    width: 10%; }
  #contHR table tbody .monto_inafecto {
    width: 4%; }
  #contHR table tbody .base_imponible_variable {
    width: 10%;
    text-align: right; }
#contHR .items {
  font-size: 14pt;
  font-family: Arial;
  font-weight: bold; }
  #contHR .items .determinacion_id {
    position: absolute;
    top: 13%;
    left: 59.1%; }
  #contHR .items .fecha_de_emision_1 {
    position: absolute;
    top: 19.75%;
    right: 9%;
    font-size: 12pt; }
  #contHR .items .emision {
    position: absolute;
    top: 15%;
    right: 7%;
    font-size: 12pt; }
  #contHR .items .persona_id {
    position: absolute;
    top: 20.5%;
    left: 18%; }
  #contHR .items .apellidos_nombres {
    position: absolute;
    top: 22.5%;
    left: 18%; }
  #contHR .items .nro_docu_identidad {
    position: absolute;
    right: 23%;
    top: 20.5%; }
  #contHR .items .tipo_contribuyente {
    display: none; }
  #contHR .items .direccion_completa {
    position: absolute;
    top: 24.2%;
    left: 25%;
    width: 66%;
    font-size: 12pt; }
  #contHR .items .base_imponible {
    position: absolute;
    top: 71.6%;
    left: 22%;
    font-size: 12pt; }
  #contHR .items .base_afecta {
    position: absolute;
    left: 40%;
    top: 71.6%;
    font-size: 12pt; }
  #contHR .items .impuesto {
    position: absolute;
    left: 63%;
    top: 71.6%;
    font-size: 12pt; }
  #contHR .items .monto_de_la_cuota {
    position: absolute;
    top: 71.6%;
    right: 10%;
    font-size: 12pt; }


  
/* CSS ESTILOS PU */

#contHR .items .determinacion_id_pu {
  position: absolute;
  top: 13%;
  line-height: 41px;
  left: 58%;
  font-size: 14pt;
  font-family: Arial; }
#contHR .items .fecha_emision_pu {
  position: absolute;
  top: 16%;
  right: 1%;
  line-height: 39px;
  font-size: 12pt;
  font-family: Arial;
  font-weight: bold; }
#contHR .items .emision_id_pu {
  position: absolute;
  top: 17.95%;
  right: 9%;
  font-size: 12pt;
  font-family: Arial;
  font-weight: bold; }
#contHR .items .presona_id_pu {
  position: absolute;
  top: 18%;
  line-height: 62px;
  left: 22%;
  font-size: 14pt;
  font-family: Arial;
  font-weight: bold; }
#contHR .items .apellidos_nombres_pu {
  position: absolute;
  top: 23%;
  left: 17%;
  line-height: 53px;
  font-size: 14pt;
  font-family: Arial;
  font-weight: bold; }

  #contHR .items .estado_construccion_pu {
    position: absolute;
    top: 27%;
    left: 22%;
    line-height: 64px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }
  #contHR .items .descripcion_pu {
    position: absolute;
    top: 27%;
    left: 52%;
    line-height: 64px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }
  #contHR .items .porc_propiedad_pu {
    position: absolute;
    top: 27%;
    left: 79%;
    line-height: 64px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }

  #contHR .items .area_terreno_pu {
    position: absolute;
    top: 32%;
    left: 21%;
    line-height: 64px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }

  #contHR .items .valor_arancel_pu {
    position: absolute;
    top: 31%;
    left: 50%;
    line-height: 85px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }

  #contHR .items .valor_terreno_pu {
    position: absolute;
    top: 31%;
    left: 79%;
    line-height: 85px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }

  #contHR .items .direccion_pu {
    position: absolute;
    top: 19%;
    left: 28%;
    line-height: 85px;
    font-size: 14pt;
    font-family: Arial;
    font-weight: bold;
  }
  

/*FIN CSS ESTILOS PU */

/*# sourceMappingURL=estilos.css.map */
