#contHR {
  width: 185mm;
  height: 262.77mm;
  margin: auto;
  position: relative; }
  #contHR #datosRelacionados tbody {
    position: absolute;
    width: 86%;
    top: 37%;
    left: 9%;
    font-weight: bold;
    text-align: center;
    font-size: 7pt; }
    #contHR #datosRelacionados tbody tr {
      display: flex; }
    #contHR #datosRelacionados tbody .item {
      width: 6%; }
    #contHR #datosRelacionados tbody .relacionado {
      width: 43%;
      padding: 0 1%;
      text-align: left; }
    #contHR #datosRelacionados tbody .Tporelacion {
      width: 29.5%; }
    #contHR #datosRelacionados tbody .NroDocumento {
      width: 21%; }
  #contHR #datosHR tbody {
    position: absolute;
    width: 86%;
    top: 52%;
    left: 8%;
    font-weight: bold;
    text-align: right;
    font-size: 7pt; }
    #contHR #datosHR tbody .item {
      width: 5%;
      text-align: center; }
    #contHR #datosHR tbody .direccion_predial {
      width: 40%;
      text-align: left;
      padding-left: 3%; }
    #contHR #datosHR tbody .fecha_adquisicion {
      width: 11%; }
    #contHR #datosHR tbody .valor_predio {
      width: 11%; }
    #contHR #datosHR tbody .porc_propiedad {
      width: 11%; }
    #contHR #datosHR tbody .monto_inafecto {
      width: 11%; }
    #contHR #datosHR tbody .base_imponible_variable {
      width: 11%; }
  #contHR .items {
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold; }
    #contHR .items .determinacion_id {
      position: absolute;
      top: 15.7%;
      left: 58.5%; }
    #contHR .items .emision {
      position: absolute;
      top: 21%;
      right: 14%;
      font-size: 9pt; }
    #contHR .items .persona_id {
      position: absolute;
      top: 25.5%;
      left: 30%;
      font-size: 7pt; }
    #contHR .items .apellidos_nombres {
      position: absolute;
      top: 27.8%;
      left: 18%;
      font-size: 7pt; }
    #contHR .items .nro_docu_identidad {
      position: absolute;
      right: 23%;
      top: 25.5%;
      font-size: 7pt; }
    #contHR .items .tipo_contribuyente {
      display: none; }
    #contHR .items .direccion_completa {
      position: absolute;
      top: 30.2%;
      left: 24%;
      width: 67%;
      font-size: 7pt;
      line-height: 7pt; }
    #contHR .items .base_imponible {
      position: absolute;
      top: 89.5%;
      left: 24%;
      font-size: 8pt; }
    #contHR .items .base_afecta {
      position: absolute;
      left: 42%;
      top: 89.5%;
      font-size: 8pt; }
    #contHR .items .impuesto {
      position: absolute;
      left: 62%;
      top: 89.5%;
      font-size: 8pt; }
    #contHR .items .monto_de_la_cuota {
      position: absolute;
      top: 89.5%;
      left: 84%;
      font-size: 8pt; }

.contPU {
  width: 1110px;
  height: 1923.7px;
  position: relative; }
  .contPU .items {
    font-size: 11pt;
    font-family: Arial;
    font-weight: bold; }
    .contPU .items .determinacion_id {
      position: absolute;
      top: 13.6%;
      left: 59.1%; }
    .contPU .items .emision {
      position: absolute;
      top: 15.4%;
      right: 16%;
      font-size: 12pt; }
    .contPU .items .persona_id {
      position: absolute;
      top: 19%;
      left: 28%; }
    .contPU .items .codigoCatastral {
      position: absolute;
      top: 22.1%;
      left: 62%; }
    .contPU .items .apellidos_nombres {
      position: absolute;
      top: 20.5%;
      left: 17%; }
    .contPU .items .nro_docu_identidad {
      position: absolute;
      right: 23%;
      top: 20.5%; }
    .contPU .items .tipo_contribuyente {
      display: none; }
    .contPU .items .direccion_completa {
      position: absolute;
      top: 23.3%;
      left: 27%;
      width: 66%; }
    .contPU .items .base_imponible {
      position: absolute;
      top: 71.6%;
      left: 22%;
      font-size: 12pt; }
    .contPU .items .base_afecta {
      position: absolute;
      left: 40%;
      top: 71.6%;
      font-size: 12pt; }
    .contPU .items .impuesto {
      position: absolute;
      left: 63%;
      top: 71.6%;
      font-size: 12pt; }
    .contPU .items .monto_de_la_cuota {
      position: absolute;
      top: 71.6%;
      right: 10%;
      font-size: 12pt; }
    .contPU .items .predio_id {
      position: absolute;
      top: 22.1%;
      left: 22%; }
    .contPU .items .lugar {
      position: absolute;
      top: 25.2%;
      left: 16%; }
    .contPU .items .sector {
      position: absolute;
      top: 26.7%;
      left: 17%; }
    .contPU .items .ubicacion_predio {
      position: absolute;
      top: 29%;
      left: 20%; }
    .contPU .items .area_terreno {
      position: absolute;
      top: 33%;
      left: 22%; }
    .contPU .items .condicion_propiedad {
      position: absolute;
      top: 29%;
      left: 53%; }
    .contPU .items .arancel {
      position: absolute;
      top: 33%;
      left: 50%; }
    .contPU .items .porc_participacion {
      position: absolute;
      top: 29%;
      left: 80%; }
    .contPU .items .valor_terreno {
      position: absolute;
      top: 33%;
      left: 81%; }
    .contPU .items .valor_construccion {
      position: absolute;
      left: 84%;
      top: 58%; }
    .contPU .items .area_construida {
      position: absolute;
      top: 58%;
      left: 66%; }
    .contPU .items .PU_valor_terreno {
      position: absolute;
      top: 74%;
      left: 84%; }
    .contPU .items .PU_valor_construccion {
      position: absolute;
      top: 72.5%;
      left: 84%; }
    .contPU .items .PU_valor_instalacion {
      position: absolute;
      top: 75.5%;
      left: 84%; }
    .contPU .items .PU_base_imponible {
      position: absolute;
      top: 76.8%;
      left: 84%; }
  .contPU .construcciones {
    position: absolute;
    width: 90%;
    top: 47%;
    left: 4.3%;
    text-align: center; }
    .contPU .construcciones tr {
      display: flex;
      padding: 0.5% 0;
      font-size: 9pt; }
    .contPU .construcciones .item {
      width: 4%; }
    .contPU .construcciones .tipo_nivel {
      width: 3.5%;
      writing-mode: vertical-lr;
      transform: rotate(180deg); }
    .contPU .construcciones .nro_nivel {
      width: 3%; }
    .contPU .construcciones .seccion {
      width: 3%; }
    .contPU .construcciones .anno_construccion {
      width: 3%;
      writing-mode: vertical-lr;
      transform: rotate(180deg); }
    .contPU .construcciones .material_predominante {
      width: 3%;
      writing-mode: vertical-lr;
      transform: rotate(180deg); }
    .contPU .construcciones .estado_conservacion {
      width: 3%;
      writing-mode: vertical-lr;
      transform: rotate(180deg); }
    .contPU .construcciones .muros {
      width: 3%; }
    .contPU .construcciones .techo {
      width: 3%; }
    .contPU .construcciones .pisos {
      width: 3%; }
    .contPU .construcciones .puertas {
      width: 3%; }
    .contPU .construcciones .revestimiento {
      width: 3%; }
    .contPU .construcciones .bannos {
      width: 3%; }
    .contPU .construcciones .electrico {
      width: 3%; }
    .contPU .construcciones .valor_unitario {
      width: 5%;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 2%; }
    .contPU .construcciones .valor_incremento {
      width: 4%;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 1%; }
    .contPU .construcciones .porc_depreciacion {
      width: 7%; }
    .contPU .construcciones .valor_depreciacion {
      width: 7%; }
    .contPU .construcciones .valor_unitario_depre {
      width: 6%;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 2%; }
    .contPU .construcciones .valor_area_construida {
      width: 9%;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 3%; }
    .contPU .construcciones .valor_construccion {
      width: 12%; }
  .contPU .instalaciones {
    position: absolute;
    width: 85%;
    top: 65%;
    left: 8.5%;
    font-size: 10pt;
    text-align: center; }
    .contPU .instalaciones td {
      padding: 0 1%; }
    .contPU .instalaciones .item {
      width: 3%; }
    .contPU .instalaciones .tipo_obra_id {
      width: 5%; }
    .contPU .instalaciones .descripcion {
      width: 15.5%;
      font-size: 7pt; }
    .contPU .instalaciones .anno_instalacion {
      width: 9%; }
    .contPU .instalaciones .medida {
      width: 5%; }
    .contPU .instalaciones .inidad_medida {
      width: 5%; }
    .contPU .instalaciones .valor_unitario {
      width: 5%; }
    .contPU .instalaciones .valor_instalacion {
      width: 7%; }
    .contPU .instalaciones .fact_oficializacion {
      width: 5%; }
    .contPU .instalaciones .valor_total {
      width: 5%; }

@media print {
  .no_imprimir {
    display: none !important; } }

/*# sourceMappingURL=estilos.css.map */
