#contHR{
    width: 185mm;
    height: 262.77mm;
    margin: auto;
    position: relative;
    #datosRelacionados{
        tbody{
            position: absolute;
            width: 86%;
            top: 37%;
            left: 9%;
            font-weight: bold;
            text-align: center;
            font-size: 7pt;
            tr{
                display: flex; 
            }
            .item{
                width: 6%;
            }
            .relacionado{
                width: 43%;
                padding: 0 1%;
                text-align: left;
            }
            .Tporelacion{
                width: 29.5%;
            }
            .NroDocumento{
                width: 21%;
            }
        }    
    }
    #datosHR{
        tbody{
            position: absolute;
            width: 86%;
            top: 52%;
            left: 8%;
            font-weight: bold;
            text-align: right;
            font-size: 7pt;
            .item{
                width: 5%;
                text-align: center;
            }
            .direccion_predial{
                width: 40%;
                text-align: left;
                padding-left: 3%;
            }
            .fecha_adquisicion{
                width: 11%;
            }
            .valor_predio{
                width: 11%;
            }
            .porc_propiedad{
                width: 11%;
            }
            .monto_inafecto{
                width: 11%;
            }
            .base_imponible_variable{
                width: 11%;
            }
        }
    }
    .items{
        font-size: 10pt;
        font-family: Arial;
        font-weight: bold;

        .determinacion_id{
            position: absolute;
            top: 15.7%;
            left: 58.5%;
        }
        .emision{
            position: absolute;
            top: 21%;
            right: 14%;
            font-size: 9pt;
        }
        .persona_id{
            position: absolute;
            top: 25.5%;
            left: 30%;
            font-size: 7pt;
        }
        .apellidos_nombres{
            position: absolute;
            top: 27.8%;
            left: 18%;
            font-size: 7pt;
        }
        .nro_docu_identidad{
            position: absolute;
            right: 23%;
            top: 25.5%;
            font-size: 7pt;
        }
        .tipo_contribuyente{
            display: none;
        }
        .direccion_completa{
            position: absolute;
            top: 30.2%;
            left: 24%;
            width: 67%;
            font-size: 7pt;
            line-height: 7pt;
        }
        .base_imponible{
            position: absolute;
            top: 89.5%;
            left: 24%;
            font-size: 8pt;
        }
        .base_afecta{
            position: absolute;
            left: 42%;
            top: 89.5%;
            font-size: 8pt;
        }
        .impuesto{ 
            position: absolute;
            left: 62%;
            top: 89.5%;
            font-size: 8pt;
        }
        .monto_de_la_cuota{
            position: absolute;
            top: 89.5%;
            left: 84%;
            font-size: 8pt;
        }
    }
    
    
    
}

.contPU{
    width: 1110px;
    height: 1923.7px;
    position: relative;
    .items{ 
        font-size: 11pt;
        font-family: Arial;
        font-weight: bold;

        .determinacion_id{
            position: absolute;
            top: 13.6%;
            left: 59.1%; 
        }
        .emision{
            position: absolute;
            top: 15.4%;
            right: 16%;
            font-size: 12pt;
        }
        .persona_id{
            position: absolute;
            top: 19%;
            left: 28%;
        }
        .codigoCatastral{
            position: absolute;
            top: 22.1%;
            left: 62%;
        }
        .apellidos_nombres{
            position: absolute;
            top: 20.5%;
            left: 17%;
        }
        .nro_docu_identidad{
            position: absolute;
            right: 23%;
            top: 20.5%;
        }
        .tipo_contribuyente{
            display: none;
        }
        .direccion_completa{
            position: absolute;
            top: 23.3%;
            left: 27%;
            width: 66%;
        }
        .base_imponible{
            position: absolute;
            top: 71.6%;
            left: 22%;
            font-size: 12pt;
        }
        .base_afecta{
            position: absolute;
            left: 40%;
            top: 71.6%;
            font-size: 12pt;
        }
        .impuesto{
            position: absolute;
            left: 63%;
            top: 71.6%;
            font-size: 12pt;
        }
        .monto_de_la_cuota{
            position: absolute;
            top: 71.6%;
            right: 10%;
            font-size: 12pt;
        }
        //PU
        .predio_id{
            position: absolute;
            top: 22.1%;
            left: 22%;
        }
        .lugar{
            position: absolute;
            top: 25.2%;
            left: 16%;
        }
        .sector{
            position: absolute;
            top: 26.7%;
            left: 17%;
        }
        .ubicacion_predio{
            position: absolute;
            top: 29%;
            left: 20%;
        }
        .area_terreno{
            position: absolute;
            top: 33%;
            left: 22%;
        }
        .condicion_propiedad{
            position: absolute;
            top: 29%;
            left: 53%;
        }
        .arancel{
            position: absolute;
            top: 33%;
            left: 50%;
        }
        .porc_participacion{
            position: absolute;
            top: 29%;
            left: 80%;
        }
        .valor_terreno{
            position: absolute;
            top: 33%;
            left: 81%;
        }
        .valor_construccion{
            position: absolute;
            left: 84%;
            top: 58%;
        }
        .area_construida{
            position: absolute;
            top: 58%;
            left: 66%;
        }
        .PU_valor_terreno{
            position: absolute;
            top: 74%;
            left: 84%;
        }
        .PU_valor_construccion{
            position: absolute;
            top: 72.5%;
            left: 84%;
        }
        .PU_valor_instalacion{
            position: absolute;
            top: 75.5%;
            left: 84%;
        }
        .PU_base_imponible{
            position: absolute;
            top: 76.8%;
            left: 84%;
        }
    }
    .construcciones{
        position: absolute;
        width: 90%;
        top: 47%;
        left: 4.3%;
        text-align: center;
        tr{
            display: flex;
            padding: 0.5% 0;
        }
        .item{
            width:4%;
        }
        .tipo_nivel{
            width: 3.5%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .nro_nivel{
            width:3%;
        }
        .seccion{
            width:3%;
        }
        .anno_construccion{
            width:3%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .material_predominante{
            width:3%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .estado_conservacion{
            width:3%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .muros{
            width:3%;
        }
        .techo{
            width:3%;
        }
        .pisos{
            width:3%;
        }
        .puertas{
            width:3%;
        }
        .revestimiento{
            width:3%;
        }
        .bannos{
            width:3%;
        }
        .electrico{
            width:3%;
        }
        .valor_unitario{
            width:5%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding-left: 2%;
        }
        .valor_incremento{
            width:4%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding-left: 1%;
        }
        .porc_depreciacion{
            width:7%;
        }
        .valor_depreciacion{
            width:7%;
        }
        .valor_unitario_depre{
            width: 6%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding-left: 2%;
        }
        .valor_area_construida{
            width:9%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding-left: 3%;
        }
        .valor_construccion{
            width:12%;
        }
    }
    .instalaciones{
        position: absolute;
        width: 85%;
        top: 65%;
        left: 8.5%;
        font-size: 10pt;
        text-align: center;
        td{
            padding: 0 1%;
        }
        .item{
            width: 3%;
        }
        .tipo_obra_id{
            width: 5%;
        }
        .descripcion{
            width: 15.5%;
            font-size: 7pt;
        }
        .anno_instalacion{
            width: 9%;
        }
        .medida{
            width: 5%;
        }
        .inidad_medida{
            width: 5%;
        }
        .valor_unitario{
            width: 5%;
        }
        .valor_instalacion{
            width: 7%;
        }
        .fact_oficializacion{
            width: 5%;
        }
        .valor_total{
            width: 5%;
        }
    }
}

@media print{
    .no_imprimir{
        display:none !important;
    }
}