#contHR{
    #datosRelacionados{
        tbody{
            position: absolute;
            width: 80%;
            top: 28.5%;
            left: 12%;
            font-weight: bold;
            text-align: center;
            font-size: 10pt;
            .item{
                width: 6%;
            }
            .relacionado{
                width: 34%;
                text-align: left;
            }
            .Tporelacion{
                width: 21%;
            }
            .NroDocumento{
                width: 21%;
            }
        }    
    }
    #datosHR{
        tbody{
            position: absolute;
            width: 82%;
            top: 42%;
            left: 11%;
            font-weight: bold;
            text-align: right;
            font-size: 10pt;
            .item{
                width: 5%;
                text-align: center;
            }
            .direccion_predial{
                width: 40%;
                text-align: left;
                padding-left: 3%;
            }
            .fecha_adquisicion{
                width: 11%;
            }
            .valor_predio{
                width: 11%;
            }
            .porc_propiedad{
                width: 11%;
            }
            .monto_inafecto{
                width: 11%;
            }
            .base_imponible_variable{
                width: 11%;
            }
        }
    }
    .items{
        font-size: 14pt;
        font-family: Arial;
        font-weight: bold;

        .determinacion_id{
            position: absolute;
            top: 13%;
            left: 59.1%;
        }
        .fecha_de_emision_1{
            position: absolute;
            top: 19.75%;
            right: 9%;
            font-size: 12pt;
        }
        .emision{
            position: absolute;
            top: 15%;
            right: 7%;
            font-size: 12pt;
        }
        .persona_id{
            position: absolute;
            top: 20.5%;
            left: 18%;
        }
        .apellidos_nombres{
            position: absolute;
            top: 22.5%;
            left: 18%;
        }
        .nro_docu_identidad{
            position: absolute;
            right: 23%;
            top: 20.5%;
        }
        .tipo_contribuyente{
            display: none;
        }
        .direccion_completa{
            position: absolute;
            top: 24.2%;
            left: 25%;
            width: 66%;
            font-size: 12pt;
        }
        .base_imponible{
            position: absolute;
            top: 71.6%;
            left: 22%;
            font-size: 12pt;
        }
        .base_afecta{
            position: absolute;
            left: 40%;
            top: 71.6%;
            font-size: 12pt;
        }
        .impuesto{
            position: absolute;
            left: 63%;
            top: 71.6%;
            font-size: 12pt;
        }
        .monto_de_la_cuota{
            position: absolute;
            top: 71.6%;
            right: 10%;
            font-size: 12pt;
        }
    }
}